* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
body {
  background: linear-gradient(
    to right,
    #0f4c81,
    #88d498,
    #f4a261
  ); /* Nature and technology-inspired colors */
}
footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.rectangular-image {
  width: 300px; /* Adjust width as needed */
  height: 200px; /* Adjust height as needed */
  object-fit: cover;
  border-radius: 5px; /* Optional: Add rounded corners */
}
p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1rem 0;
  font-family: "Arial", sans-serif;
}
